:root {
  --font-family: "Circular", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --page-bg: #fff;
  --text-color: #181818;
  --text-muted: #909090;
  --accent: #35AFF4;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Circular";
  src: url("../fonts/../fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/../fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/../fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

.title {
  color: var(--text-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title--decor {
  position: relative;
}
.title--decor::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 268px;
  height: 24px;
  z-index: -1;
  background-image: url("./../img/discover/underline.svg");
  background-repeat: no-repeat;
}

.text {
  color: var(--text-muted);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  /* 27px */
}
.text p + p {
  margin-top: 1em;
}

.muted {
  color: var(--text-muted);
}

.header {
  padding: 1.5rem 0;
}
.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  color: var(--accent);
  font-size: 1.25rem;
  font-weight: 900;
  white-space: nowrap;
  width: max-content;
}
.header__btn {
  justify-self: end;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  padding: 0 0.9375rem;
}
.nav__item {
  color: var(--text-color);
  font-weight: 450;
  line-height: 1.5;
}
.nav__item a {
  color: inherit;
  transition: color 0.3s ease-in-out;
}
.nav__item a:hover, .nav__item a.active {
  color: #35AFF4;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
  font-weight: 450;
  line-height: 1.5;
}
.btn__login {
  background-color: #fff;
  color: #454545;
  border: 0.0625rem solid #B7B7B7;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, opacity 0.3s ease-in;
}
.btn__login:hover, .btn__login:focus {
  background-color: #181818;
  color: #fff;
  opacity: 0.5;
}
.btn__signup {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #B7B7B7;
  background-color: #181818;
  color: #fff;
  transition: opacity 0.3s ease-in;
}
.btn__signup:hover, .btn__signup:focus {
  opacity: 0.5;
}

.discover {
  padding: 3.75rem 0;
}
.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}
.discover__title {
  margin: 0;
  margin-bottom: 1.5rem;
}
.discover__text:not(:last-child) {
  margin-bottom: 2.5rem;
}
.discover__text:not(:last-child) p {
  margin: 0;
}
.discover__picture {
  position: relative;
  overflow: hidden;
}
.discover__picture-img {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .discover__picture-img:hover {
    opacity: 0.7;
  }
}
.discover__picture-hint {
  position: absolute;
  top: 5.625rem;
  left: 2.5rem;
  z-index: 2;
}
.discover__picture-scroll {
  position: absolute;
  right: 0.9375rem;
  bottom: 1.25rem;
}

.picture-hint {
  display: flex;
  padding: 0.75rem;
  gap: 1rem;
  max-width: 20.25rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 0.25rem 2.125rem 0 rgba(50, 75, 104, 0.17);
  width: 100%;
}
.picture-hint__img {
  border-radius: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.picture-hint__desc {
  flex-grow: 1;
}
.picture-hint__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}
.picture-hint__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}
.picture-hint__rating::before {
  content: "";
  width: 1.0625rem;
  height: 1rem;
  background-image: url("./../img/icons/star-small.svg");
  background-repeat: no-repeat;
}
.picture-hint__price {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.picture-hint__price i {
  color: var(--accent);
  font-style: normal;
}

.picture-scroll {
  position: relative;
  display: inline-block;
}
.picture-scroll__text {
  animation: rotation 10s linear 0s infinite running normal;
}
.picture-scroll__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  border: 0.0625rem solid rgba(144, 144, 144, 0.3);
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  gap: 1rem;
}
.form__devider {
  height: 1.5rem;
  width: 0.0625rem;
  background: #909090;
}
.form__label {
  padding-left: 2.25rem;
  display: grid;
  gap: 0.5rem;
  background-image: url("./../img/icons/map.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
}
.form__label span {
  font-size: 1rem;
  font-weight: 500;
}
.form__input {
  font-size: 0.875rem;
  font-weight: 450;
}
.form__input::placeholder {
  color: var(--text-muted);
}
.form__btn {
  background-color: var(--accent);
  padding: 0.75rem;
  border-radius: 0.625rem;
  transition: opacity 0.3s ease-in-out;
}
.form__btn:focus {
  outline: 1px solid #1e61f2;
  outline-offset: 2px;
}
@media (any-hover: hover) {
  .form__btn:hover {
    opacity: 0.7;
  }
}
.form__btn:active {
  background-color: #1e61f2;
}