.footer {
  padding: 5rem 0;
  background: #181818;
  color: var(--text-white);

  @include tablet {
    padding: 2.5rem 0;
  }

  @include mobile {
    padding: 1.25rem 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
    width: max-content;

    img {
      transition: transform 0.3s ease-in-out;
    }

    &:focus {
      outline: 1px solid #1e61f2;
      outline-offset: 2px;
    }

    @include hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 8rem;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }

  &__copyright {
    display: grid;
    gap: 1.5rem;
  }

  &__copyright-text {
    max-width: 18.75rem;

    & P {
      margin: 0;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2.5rem;

    @include small-tablet {
      grid-row: -1 / 1;
      gap: 1.25rem;
    }
  }
}

.footer-nav {
  display: grid;
  gap: 1.5rem;

  &__title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }

  &__list {
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.5;

    & li {
      padding: 0.5rem 0;

      & a {
        color: var(--text-white);
        transition: color 0.3s ease-in-out;

        @include hover {
          color: var(--accent);
        }

        &:focus {
          outline: 0.0625rem solid #fff;
          outline-offset: 0.125rem;
        }
      }
    }
  }
}
