.header {
  padding: 1.5rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
    width: max-content;

    img {
      transition: transform 0.3s ease-in-out;
    }

    &:focus {
      outline: 1px solid #1e61f2;
      outline-offset: 2px;
    }

    @include hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__btn {
    justify-self: end;
  }
}
