.header {
  padding: 1.5rem 0;

  &--position {
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  &__burger {
    display: none;

    @include tablet {
      display: flex;
      justify-self: end;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @include tablet {
      grid-template-columns: 1fr 1fr auto;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
    width: max-content;

    @include mobile {
      width: 1.25rem;
      overflow: hidden;
    }

    img {
      transition: transform 0.3s ease-in-out;
    }

    &:focus {
      outline: 1px solid #1e61f2;
      outline-offset: 2px;
    }

    @include hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__btn {
    justify-self: end;

    @include tablet {
      padding: 0 0.9375rem;
    }
  }
}

.burger {
  @include burger
}
