.header {
  padding: 1.5rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
    width: max-content;
  }

  &__btn {
    justify-self: end;
  }
}
