.nav {

  &__list {
    display: flex;
    gap: 1.5rem;
    padding: 0 0.9375rem;
  }

  &__item {
    color: var(--text-color);
    font-weight: 450;
    line-height: 1.5;
    outline: none;

    & a {
      color: inherit;
      transition: color .3s ease-in-out;
    }

    & a.active {
      color: var(--accent);
    }

    & a:focus {
      outline: 1px solid var(--accent);
      outline-offset: 2px;
    }

    @include hover {
      color: var(--accent);
    }
  }
}
