.nav {

  &__list {
    display: flex;
    gap: 1.5rem;
    padding: 0 0.9375rem;
  }

  &__item {
    color: var(--text-color);
    font-weight: 450;
    line-height: 1.5;

    & a {
      color: inherit;
      transition: color .3s ease-in-out;
    }

    & a:hover,
    & a.active {
      color: #35AFF4;
    }
  }
}
