.popular {
  padding: 3.75rem 0;

  &__top {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__title {
    color: var(--text-color);
    font-size: 2.25rem;
    font-weight: 500;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__text p {
    margin: 0;
  }

  &__controls {
    display: flex;
    gap: 0.9375rem;
  }

  &__control {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 12px;
    border: 1px solid #B9B9B9;
    fill: #B9B9B9;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &.active {
      background-color: var(--accent);
      fill: #fff;
      border: none;
    }

    &--back svg {
      transform: rotate(180deg);
    }

    &--next svg {}

    &:focus {
      outline: 1px solid #1e61f2;
      outline-offset: 2px;
    }

    @include hover {
      background-color: var(--accent);
      fill: #fff;

      &.popular__control {
        border: none;
      }
    }

    &:active {
      background-color: #1981bd;
    }
  }
}
