.service {
  padding: 7rem 0;

  @include big-desktop {
    padding: 3.75rem 0;

  }

  @include tablet {
    padding: 1.875rem 0 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;

    @include tablet {
      gap: 1.875rem;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;

    @include tablet {
      font-size: 30px;
      line-height: 1;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 2.5rem;

    @include tablet {
      margin-bottom: 1.5625rem;
    }

    & p {
      margin: 0;
    }
  }

  &__picture {
    position: relative;

    @include small-tablet {
      order: 1;
    }
  }

  &__picture-img {
    overflow: hidden;
    width: 100%;
    border-radius: 1.375rem;

    & img {
      transition: opacity .3s ease-in-out;
      width: 100%;
    }

    @include hover {
      & img {
        opacity: 0.7;
      }
    }
  }

  &__picture-tips {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    top: 43px;
    right: -40px;
    box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);

    @include big-desktop {
      right: 40px;
    }
  }

  &__picture-guid {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: -5.71%;
    bottom: 22.67%;
    border-radius: 82px;
    box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);
    min-width: 42%;

    @include big-desktop {
      left: 5.71%;
    }
  }

  &__btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--accent);
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: opacity .3s ease-in-out;

    @include small-tablet {
      width: 100%;
    }

    &:focus {
      outline: 1px solid #1e61f2;
      outline-offset: 2px;
    }

    @include hover {
      opacity: 0.7;
    }

    &:active {
      background-color: #1e61f2;
    }
  }
}

.picture-guid {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  padding-right: 1.5rem;

  @include mobile {
    max-width: max-content;
    padding: 0.375rem;
    padding-right: 0.75rem;
  }

  &__img {
    border-radius: 50%;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;

    @include mobile {
      font-size: 0.75rem;
    }
  }

  &__position {
    color: var(--text-muted);
    font-size: 0.875rem;
    font-weight: 450;
    line-height: 1.5;

    @include mobile {
      font-size: 0.625rem;
    }
  }
}

.picture-tips {
  display: flex;
  padding: 0.75rem;
  gap: 1rem;
  max-width: 20.25rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 0.25rem 2.125rem 0 rgba(50, 75, 104, 0.17);
  width: 100%;

  @include mobile {
    max-width: max-content;
    padding: 0.375rem;
  }

  &__img {
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;

    @include mobile {
      width: 3.125rem;
    }
  }

  &__desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;

    @include mobile {
      font-size: 0.75rem;
    }
  }

  &__rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 10px;

    @include mobile {
      font-size: 0.625rem;
    }

    &::before {
      content: '';
      width: 1.0625rem;
      height: 1rem;
      background-image: url('./../img/icons/star-small.svg');
      background-repeat: no-repeat;
    }
  }

  &__price {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;

    @include mobile {
      font-size: 0.625rem;
    }

    i {
      color: var(--accent);
      font-style: normal;
    }
  }
}
