.testimonials {
  &__grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__swiper {
    height: 56.25rem;

    .swiper-slide {
      padding: 0;
      margin: 0;
      height: max-content !important;
    }
  }
}

.smooth-transition {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
