.testimonials {
  &__grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__swiper {
    height: 56.25rem;

    .swiper-slide {
      padding: 0;
      padding-bottom: 2rem;
      margin: 0;
      height: max-content !important;
    }

    @include tablet {
      display: none;
    }
  }
}

.smooth-transition {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.testimonials-horizontal {
  display: none;

  .swiper {
    padding: 30px 0;

    width: 100%;
    height: 100%;
  }

  @include tablet {
    display: block;
  }
}
