<section class="discover">
  <div class="discover__container container">
    <div class="discover__grid">

      <div class="discover__desc">
        <h1 class="discover__title title title--decor">
          Discover your favorite place with&nbsp;us
        </h1>

        <div class="discover__text text">
          <p>
            Your journey begins here with our curated travel
            experiences. Discover new horizons, create lasting
            memories, and explore the world with our expertly
            crafted itineraries.
          </p>
        </div>

        <div class="discover__form">
          <form action="" class="form">

            <label for="" class="form__label">
              <span>Locations</span>
              <input id="autoCompleteCountry" name="country" type="text" class="form__input input-reset"
                placeholder="e.g Bali, Indonesia" autocomplete="off">
            </label>

            <div class="form__devider"></div>

            <label for="" class="form__label form__label--calendar">
              <span>Date and time</span>
              <input id="datePicker" name="date" type="text" class="form__input input-reset" placeholder="MM/DD/YYYY"
                autocomplete="off">
            </label>

            <button class="form__btn btn-reset">
              <img src="./img/icons/search-btn.svg" alt="Search" />
            </button>
          </form>
        </div>
      </div>

      <div class="discover__picture">
        <div class="discover__picture-hint picture-hint">
          <img class="picture-hint__img" src="./img/hints/coco-de-heaven.jpg" alt="Hint">
          <div class="picture-hint__desc">
            <div class="picture-hint__title">Coco De Heaven<span class="picture-hint__rating">(4.5)</span></div>
            <div class="picture-hint__price"><span class="muted">Starts from</span> <i>$</i>400</div>
          </div>
        </div>

        <div class="discover__picture-scroll">
          <div class="picture-scroll">
            <img src="./img/icons/scroll-down-text.svg" alt="" class="picture-scroll__text">
            <img src="./img/icons/scroll-down.svg" alt="" class="picture-scroll__icon">
          </div>
        </div>

        <img src="./img/discover/hero-img.png" alt="Hero image" class="discover__picture-img" />
      </div>
    </div>
  </div>
</section>
