<header class="header header--position">
  <div class="header__container container">

    <a class="header__logo" href="#">
      <img src="./img/icons/logo.svg" alt="Logo">
      Travel Agent
    </a>

    <nav class="header__nav nav" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#!">Home</a></li>
        <li class="nav__item"><a href="#!">About</a></li>
        <li class="nav__item"><a href="#!">Packages</a></li>
        <li class="nav__item"><a href="#!">FAQ</a></li>
        <li class="nav__item"><a href="#!">Community</a></li>
      </ul>
    </nav>

    <div class="header__btn btn">
      <a href="#!" class="btn__login btn-reset">Login</a>
      <a href="#!" class="btn__signup btn-reset">Signup</a>
    </div>

    <button class="btn-reset header__burger burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>

  </div>
</header>
