<section class="service">
  <div class="service__container container">
    <div class="service__grid">

      <div class="service__picture">
        <div class="service__picture-tips picture-tips">
          <img class="picture-tips__img" src="./img/hints/heaven-resort.jpg" alt="Heaven Resort">
          <div class="picture-tips__desc">
            <div class="picture-tips__title">Heaven Resort<span class="picture-tips__rating">(4.8)</span></div>
            <div class="picture-tips__price"><span class="muted">Starts from</span> <i>$</i>450</div>
          </div>
        </div>

        <div class="service__picture-guid">
          <div class="picture-guid">
            <img class="picture-guid__img" src="./img/hints/jake-anderson.jpg" alt="Jake Anderson">
            <div class="picture-guid__desc">
              <div class="picture-guid__name">Jake Anderson</div>
              <div class="picture-guid__position">Best Tour Guide</div>
            </div>
          </div>
        </div>

        <div class="service__picture-img">
          <img src="./img/service/img.jpg" alt="Service image" />
        </div>
      </div>

      <div class="service__desc">
        <h2 class="service__title title">
          With Our Service We Will Explore Something Different
        </h2>

        <div class="service__text text">
          <p>
            Uncover hidden gems and immerse yourself in vibrant cultures. From breathtaking landscapes to awe-inspiring
            destinations, let us guide you to the most extraordinary places on the planet.
          </p>
        </div>

        <button class="service__btn btn-reset" type="button">Explore more</button>
      </div>

    </div>
  </div>
</section>
