// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Circular", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --page-bg: #fff;
  --text-color: #181818;
  --text-muted: #909090;
  --accent: #35AFF4;
}
